<div id="container-questionnaire">
  <form>
    <audio controls>
      <source src="/static/sounds/05MRI.wav" type="audio/wav">
      Your browser does not support the audio element.
    </audio>

    <br/>  <br/>

    <label for="sound5">Choose a machine:</label>
    <select class='not-clicked' id="sound5" name="sound5">
      <option value="select">Select</option>
      <option value="xray">X-Ray Machine</option>
      <option value="pump">IV Pump</option>
      <option value="ventilator">Mechanical Ventilator</option>
      <option value="heart">Heart Monitor</option>
      <option value="mri">MRI</option>
      <option value="blood">Blood Analyzer</option>
      <option value="respirator">Respirator</option>
      <option value="icu">ICU Alarm</option>
    </select>

    <br/>   <br/>
    <br/>

    <audio controls>
      <source src="/static/sounds/01xraymachine.wav" type="audio/wav">
      Your browser does not support the audio element.
    </audio>

    <br/>  <br/>

    <label for="sound1">Choose a machine:</label>
    <select class='not-clicked' id="sound1" name="sound1">
      <option value="select">Select</option>
      <option value="xray">X-Ray Machine</option>
      <option value="pump">IV Pump</option>
      <option value="ventilator">Mechanical Ventilator</option>
      <option value="heart">Heart Monitor</option>
      <option value="mri">MRI</option>
      <option value="blood">Blood Analyzer</option>
      <option value="respirator">Respirator</option>
      <option value="icu">ICU Alarm</option>
    </select>

    <br/>   <br/>
    <br/>

    <audio controls>
      <source src="/static/sounds/02IVpump.wav" type="audio/wav">
      Your browser does not support the audio element.
    </audio>

    <br/>  <br/>

    <label for="sound2">Choose a machine:</label>
    <select class='not-clicked' id="sound2" name="sound2">
      <option value="select">Select</option>
      <option value="xray">X-Ray Machine</option>
      <option value="pump">IV Pump</option>
      <option value="ventilator">Mechanical Ventilator</option>
      <option value="heart">Heart Monitor</option>
      <option value="mri">MRI</option>
      <option value="blood">Blood Analyzer</option>
      <option value="respirator">Respirator</option>
      <option value="icu">ICU Alarm</option>
    </select>

    <br/>   <br/>
    <br/>


    <audio controls>
      <source src="/static/sounds/04heartmonitor.wav" type="audio/wav">
      Your browser does not support the audio element.
    </audio>

    <br/>  <br/>

    <label for="sound4">Choose a machine:</label>
    <select class='not-clicked' id="sound4" name="sound4">
      <option value="select">Select</option>
      <option value="xray">X-Ray Machine</option>
      <option value="pump">IV Pump</option>
      <option value="ventilator">Mechanical Ventilator</option>
      <option value="heart">Heart Monitor</option>
      <option value="mri">MRI</option>
      <option value="blood">Blood Analyzer</option>
      <option value="respirator">Respirator</option>
      <option value="icu">ICU Alarm</option>
    </select>

    <br/>   <br/>
    <br/>

    <audio controls>
      <source src="/static/sounds/07Respirator.wav" type="audio/wav">
      Your browser does not support the audio element.
    </audio>

    <br/>  <br/>

    <label for="sound7">Choose a machine:</label>
    <select class='not-clicked' id="sound7" name="sound7">
      <option value="select">Select</option>
      <option value="xray">X-Ray Machine</option>
      <option value="pump">IV Pump</option>
      <option value="ventilator">Mechanical Ventilator</option>
      <option value="heart">Heart Monitor</option>
      <option value="mri">MRI</option>
      <option value="blood">Blood Analyzer</option>
      <option value="respirator">Respirator</option>
      <option value="icu">ICU Alarm</option>
    </select>

    <br/>   <br/>
    <br/>


    <audio controls>
      <source src="/static/sounds/06bloodanalyzermotor.wav" type="audio/wav">
      Your browser does not support the audio element.
    </audio>

    <br/>  <br/>

    <label for="sound6">Choose a machine:</label>
    <select class='not-clicked' id="sound6" name="sound6">
      <option value="select">Select</option>
      <option value="xray">X-Ray Machine</option>
      <option value="pump">IV Pump</option>
      <option value="ventilator">Mechanical Ventilator</option>
      <option value="heart">Heart Monitor</option>
      <option value="mri">MRI</option>
      <option value="blood">Blood Analyzer</option>
      <option value="respirator">Respirator</option>
      <option value="icu">ICU Alarm</option>
    </select>

    <br/>   <br/>
    <br/>



    <audio controls>
      <source src="/static/sounds/08ICUAlarm.wav" type="audio/wav">
      Your browser does not support the audio element.
    </audio>

    <br/>  <br/>

    <label for="sound8">Choose a machine:</label>
    <select class='not-clicked' id="sound8" name="sound8">
      <option value="select">Select</option>
      <option value="xray">X-Ray Machine</option>
      <option value="pump">IV Pump</option>
      <option value="ventilator">Mechanical Ventilator</option>
      <option value="heart">Heart Monitor</option>
      <option value="mri">MRI</option>
      <option value="blood">Blood Analyzer</option>
      <option value="respirator">Respirator</option>
      <option value="icu">ICU Alarm</option>
    </select>

    <br/>   <br/>
    <br/>

    <audio controls>
      <source src="/static/sounds/03mechanicalventilator.wav" type="audio/wav">
      Your browser does not support the audio element.
    </audio>

    <br/>  <br/>

    <label for="sound3">Choose a machine:</label>
    <select class='not-clicked' id="sound3" name="sound3">
      <option value="select">Select</option>
      <option value="xray">X-Ray Machine</option>
      <option value="pump">IV Pump</option>
      <option value="ventilator">Mechanical Ventilator</option>
      <option value="heart">Heart Monitor</option>
      <option value="mri">MRI</option>
      <option value="blood">Blood Analyzer</option>
      <option value="respirator">Respirator</option>
      <option value="icu">ICU Alarm</option>
    </select>

    <br/>   <br/>
    <br/>

    Please enter any final thoughts about the experiment:<br/>
    <br/>

      <textarea name="Fname" rows="10" cols="60"></textarea>
    </form>


  <hr />
  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-7">
      </div>
      <div class="col-xs-3">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
          Continue <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>
